/*@font-face {
    font-family: FoundersGrotesk;
    src: url("/fonts/Founders_Grotesk_Medium.otf") format("opentype");
}*/
@font-face {
    font-family: 'Playfair Display', serif;
}
@font-face {
    font-family: 'Muli', sans-serif;
}

body {
    background: url(../img/black_bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #a1adb9;
}

#cover {
    background: url(../img/cover2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#cover span{
    font-family: Playfair Display;
    font-size: 20vmin;
    color: white;
    line-height: 100%;
}

#wrapper {
    height: 100vh;
}


.content-section {
    margin-top: 80px;
}

.discography-item {
    margin-bottom: 30px;
}

.discography-item .discography-thumb{
    position: relative;
}

.discography-item .discography-thumb img{
    width: 100%;
}

.discography-popup{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    background-color: #333;
    /*opacity: 0.75;*/
    opacity: 0;

    transition: all 300ms ease-in-out;
}


.discography-popup i{
    font-size: 3rem;
}

.heading-section h2 {
    margin-bottom: 60px;
    font-family: 'Muli', sans-serif;
    font-size: 1.75rem;
}

.video-item{
    margin-bottom: 30px;
    width: 100%;
}